html
{

}
body
{
  height: 100vh;
  width: 100%;
  min-width: 900px;
    background: url('Images/60-lines.png');
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.wrapper
{
  position: relative;
  background:url(Images/Background.png) no-repeat center center;
  background-size: contain;
  width: 70%;
  height: 549.413px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textBox {
-webkit-appearance: none;
    box-sizing: border-box;
    height: 30px;
    width: 200px;
    background-color: #fff;
    outline: none;
    border: 1px solid #fff;
    color: #000;
    border-radius: 2px;
    font-size: 100%;
    transition: all 0.2s ease;
    padding: 0 5px;
    border-radius: 1px;

}

    .textBox-error
    {
      background-color: #edd7d7;
      border-color:red;
    }
table tr td
{
  padding: 5px;
}
table th,
table tr td:first-of-type
{
  color:#000;
  font-family: 'OpenSans';
  font-size: small;
}
table tr td
{
  color:#000;
}
.sepButton-active
{
pointer-events: auto !important;
background: rebeccapurple !important;
}
.sepButton {
  pointer-events: none;
        /*background: #0ab3a3;*/
        background: #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        -webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.14);
        box-shadow: 0 5px 5px rgba(0,0,0,0.3);
        font-size: small;
        line-height: 20px;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
        cursor: pointer;
        border-radius: 0.1em;
        font-family: 'OpenSans';
        position: relative;
        overflow: hidden;
        width: 200px;
        height: 30px;
        margin-bottom: 10px;
    }
    .sepButton:hover
    {
      opacity: 0.9;
    }
    .sepButton:active
    {
      box-shadow: 0 2px 5px rgba(0,0,0,0.3);

    }
#display {
  position: absolute;
  left:12.43%;
  right: 12.4%;
  top:7.4%;
  bottom: 11.0%;
}
#display>div {
  position: absolute;
  pointer-events: none;
    background: rebeccapurple;
    z-index: 10;
}
#display table {
  background-size:cover;
  pointer-events: none;
  position: absolute;
  table-layout: fixed;
  border-collapse: collapse;
  box-sizing: border-box;
  z-index: 20;
}
#display td {
  text-align: center;

}
#display td::before{
  content:"\00d7";
  display: flex;
  justify-content: center;
  align-items: center;
}

input:read-only
{
  background-color: #f5f5f5;
  border-color: #ccc;
}
