html
{
  background:radial-gradient(#4167ae,#233a7d);
}
body
{
  height: 100vh;
  width: 100%;
    background: url('Images/60-lines.png');
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.wrapper
{
  position: relative;
  width: 917px;
  height:527px;
  background:url(Images/Background.png) no-repeat center center;
  cursor:crosshair;
  display: flex;
  justify-content: center;
  align-items: center;
}

.area
{
  position: absolute;
  background: rgba(151,187,222,0.7);
  border:1px solid #0078d7;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: all 0.05s ease;
}
.sizeInfo
{
  bottom: 0px;
  right: 0px;
  font-size: medium;
  font-weight: bold;
  white-space: nowrap;
display: none;
    font-family: 'Vollkorn';
    animation: fadeIn 1s ease;
}
@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100%
    {
        opacity:1;
    }
}
.textBox {
-webkit-appearance: none;
    box-sizing: border-box;
    height: 30px;
    width: 200px;
    background-color: #fff;
    outline: none;
    border: 1px solid #fff;
    color: #000;
    border-radius: 2px;
    font-size: 100%;
    transition: all 0.2s ease;
    padding: 0 5px;
    border-radius: 1px;

}

    .textBox-error
    {
      background-color: #edd7d7;
      border-color:red;
    }
select
{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border:none;
  border-radius: 1px;
  width:200px !important;
 border: 1px solid #bbb;
 height: 30px;
 padding: 5px;
 font-family: 'OpenSans';
 font-size: small;
 box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
 background-color:white;
 background-image:url(select-arrow.png);
 background-position: right;
 background-repeat: no-repeat;
}
select:hover {
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
}
option {
  background:#eee;
  border-top:1px solid #444;
  padding:5px;
}
table tr td
{
  padding: 5px;
}
table tr td:first-of-type
{
  color:#fff;
  font-family: 'OpenSans';
  font-size: small;
}
table tr td:last-of-type
{
  color:#fff;
}
.sepButton {
        /*background: #0ab3a3;*/
        background: #99aebd;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        -webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.14);
        box-shadow: 0 5px 5px rgba(0,0,0,0.3);
        font-size: small;
        line-height: 20px;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
        cursor: pointer;
        border-radius: 0.1em;
        font-family: 'OpenSans';
        position: relative;
        overflow: hidden;
        width: 200px;
        height: 30px;
    }
    .sepButton:hover
    {
      background:#a7bece;
    }
    .sepButton:active
    {
      box-shadow: 0 2px 5px rgba(0,0,0,0.3);

    }
