body {
  width: 600px;
  padding: 10px;
}

.presetsList {
  width: 95%;
  margin-top: 20px;
}

.preset {
  padding: 5px 10px;
  height: 50px;
  flex-flow: row;
  justify-content: flex-start;
  background: transparent !important;
  color: #666;
  animation: none !important;
}

.presetActive {
  background-color: #ddd !important;
}

.preset[data-id^="c"]>i::before {
  content: '';
  font-size: small;
  border-bottom: 2px solid orange;
  padding-bottom: 4px;
}

.preset>* {
  pointer-events: none;
}

.preset>#btnRemove, .preset>#btnEdit {
  pointer-events: auto !important;
}

.preset:hover * {
  animation: none !important;
}

.preset:hover {
  box-shadow: 0 0 9px #ddd;
}

.preset>span {
  font-family: 'Vollkorn';
  font-size: 100%;
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
  color: green;
  margin-right: auto;
}

.preset>span::before {
  content: '(';
}

.preset>span::after {
  content: ')';
}

.preset>p {
  margin-right: 15px;
}

.preset>div {
  font-size: x-large;
  margin-right: 15px;
}

.preset[data-id^="c"]:nth-of-type(2n) {
  background-color: transparent !important;
}

.preset[data-id^="c"]:nth-of-type(2n+1) {
  background-color: transparent !important;
}

.preset-model {
  font-size: 90%;
  position: absolute;
  bottom: 0;
  text-align: center;
  margin-right: 15px !important;
}
