/*:root{
  --counter :10s;
} */

::-webkit-scrollbar {
    display: none;
}
  html,body
  {
    margin: 0;
    padding: 0;
  }
  body
  {
      width: 550px;

    background: #fdfdfd;
    font-family: 'OpenSans';

    box-sizing: border-box;
    color: #111;
    overflow-y:  scroll;
    user-select: none;
  }
header
{
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  align-items: center;
  font-size: small;
  padding: 12px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color:rebeccapurple;
  z-index: 1;
  color:#fff;
}
header > span >a
{
  text-decoration: underline;
}
header > i, header> div >i
{
  font-size: x-large;
  cursor: pointer;

}
main
{
  margin-top: 57px;
  display :flex;
  flex-flow: row wrap;
  border-collapse: collapse;
}

main > div
{
  box-sizing:border-box;
  width:110px;
  height: 100px;
  border:1px solid #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease;

}
main > div > span
{
  position: absolute;
  bottom:3px;
  font-size: 90%;
}
main > div > i
{
  position: absolute;
  top: 3px;
  font-size: large;
  font-style:normal;
  color:#333;
  display: none;
  font-weight: bold;
  pointer-events: auto !important;
}
main > div >div
{
  width:64px;
  height: 64px;
  background:url(../Content/Images/notebookback.png) center center no-repeat;
}
main > div >canvas
{
  position: absolute;
}
.preset > *
{
  pointer-events: none;
}
.preset:hover
{
  box-shadow: inset 0 0 0 2px #aaa;
}

.presetDisableHover:hover
{
  box-shadow: none;
}

@keyframes blink-smooth {
    50% {
        color: transparent;
        opacity:0.1;
    }
}
.icon-plus{
  font-size: 140%;
  margin-left: 10px;
}
.icon-pencil
{
  margin-right: 10px;
}

.dialogWrapper
{
  background-color: rgba(255,255,255,0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  display: none;
}
.dialog
{
  padding: 20px;
  width: 80%;
  box-shadow: 0 2px 25px #aaa;
background-color: white;

}
.dialog >p
{
  text-align: center;
}

.sepButton {
    /*background: #0ab3a3;*/
    background: rebeccapurple;
    display: inline-block;
    padding: 0.6em;
    width: 100px;
    color: #fff;
    font-size: small;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 0.3em;
}

.sepButton-light
{
  background:#eee;
  color:#000;
  box-shadow: 0 2px 12px #444;
}
.sepButton-light:hover
{
  background-color: #f5f5f5 !important;
  opacity: 1 !important;
}

    .sepButton:hover {
        opacity: 0.8;
    }

    .editMode i
    {
      display:inline-block;
    }
.editMode-cancel::before
{
  content: 'Cancel' !important;
  margin-right: 40px !important;
  font-size: small !important;
  font-weight: bold !important;
  font-family: OpenSans !important;
}
